#contato {
    background-color: #7bbcc4;
}
.alinhamento {
    text-align: center;
    list-style-position: inside;
    margin: 2%;
}
#informacao {
    background-color: #f7f8f3;
}
#copy {
    text-align: center;
    background-color: burlywood;
}
#links {
    
}